body, html {
    margin: 0;
    width: auto;
    font-family: arial, sans-serif;
    color: #242424;
    font-size: 11px;
    line-height: 1.8;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px dashed #918F8F;
}

thead tr th{
    padding-top: 5px;
    padding-bottom: 10px;
}

thead tr td
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

tbody tr td
{
    padding-left: 10px;
    padding-right: 10px;
}

tfoot tr td
{
    padding-left: 10px;
    padding-right: 10px;
}

.border-top{
    border-top: 1px dashed #FFFFFF;
}

.border-bottom{
    border-bottom: 1px dashed #FFFFFF;
}

.border-left{
    border-left: 1px dashed #FFFFFF;
}

.border-right{
    border-right: 1px dashed #FFFFFF;
}

.border-top, .border-bottom, .border-left, .border-right{
    border-color: #918F8F;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-value{
    text-align: right;
}

.row-width{
    height: 30px;
}

.table-clean{
    border: 0px;
}

.table-label-title
{
    text-align: center;
    font-size: 8px;
    font-weight: bold;
}

.table-label-text{
    text-align: center;
    font-size: 13px;
}

.table-label-text-description{
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.padding-clean{
    padding: 0px;
}

.display-block{
    display: block;
}

.row-label-value{
    font-size: 13px;
}

.row-description{
    padding-top: 15px;
    padding-bottom: 5px;
}
